.socialBtnContainer {
    display: flex;
    width: 100%;
    justify-content: center;
    gap: 4rem;
    background-color: transparent;
}

.socialBtnContainer button {
    background-color: transparent;
    border: 0.1rem solid #115ea1;
    color: white;
    padding: 0.5rem 2.85rem;
    font-weight: bold;
    cursor: pointer;
    border-radius: 0.4rem;
    font-size: 1.0rem;
    text-transform: uppercase;
    transition: 0.5s ease-in-out;
    display: flex;
    justify-content: center;
    align-items: center;
}
.socialBtnContainer svg {
    margin-bottom: auto;
    font-size: 1.75rem;
}

.socialBtnContainer form button:hover {
    background-color: #4e0eff;
}